
@import url("color.css");

.bt1 {
  background: var(--c2);
  border: 2px solid var(--c4);
  color: var(--c1);
  font: inherit;
  line-height: 1;
  padding: 10px;
  transition: 0.25s;
}

.bt1:hover, .bt1:focus {
  background: var(--c1);
  border: 1px solid var(--c2);
  color: var(--c4);
}

.bt2 {
  background: var(--c1);
  border: 2px solid var(--c4);
  color: var(--c2);
  font: inherit;
  line-height: 1;
  padding: 10px;
  transition: 0.25s;
}

.bt2:hover, .bt2:focus {
  background: var(--c1);
  border: 1px solid var(--c2);
  color: var(--c4);
}
