
@import url("color.css");

#mode {
  position: fixed;
  top: 5vh;
  left: 10vw;
  width: 90vw;
  height: 5vh;
  /* background-color: var(--c2); */
  text-align: center;
}

#mode button {
  margin-top: 1.2vh;
}

#content {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 90vw;
  height: 90vh;
  /* background-color: yellow; */
  padding: 25px;
  overflow: scroll;
}

.eventForm {
  float: left;
  margin: 0 0 5vh 5vw;
  max-width: 20vw;
}

.event {
  background-color: #fff5e3;
  box-shadow: 1px 1px 1px black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
