
@import url("color.css");

#mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 85vw;
  height: 5vh;
  text-align: center;
}

#mode button, #mode input {
  margin-top: 1.2vh;
}

.scriptForm {
  float: left;
  margin-left: 2.5vw;
  margin-right: 5vw;
}

#content {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 85vw;
  height: 90vh;
  overflow: scroll;
  /* background-color: black; */
}

.eventForm {
  float: left;
  margin: 5vh 0 0 2.5vw;
  max-width: 20vw;
  max-height: 20vh;
}



.card {
  max-width: 20vw;
  max-height: 20vh;
}

.card .card-img-top, .card .card-img-top2 {
  position: relative;
  background: white;
  max-width: 20vw;
  max-height: 20vh;
}

.card .card-img-top .card-text {
  padding-left: 10px;
  padding-top: 10px;
}

.card .card-body {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.056), 0 6.7px 5.3px rgba(0, 0, 0, 0.081), 0 12.5px 10px rgba(0, 0, 0, 0.1), 0 22.3px 17.9px rgba(0, 0, 0, 0.119), 0 41.8px 33.4px rgba(0, 0, 0, 0.144), 0 100px 80px rgba(0, 0, 0, 0.2);
  max-width: 20vw;
  max-height: 20vh;
}

.card textarea {
  max-width: 20vw;
  max-height: 20vh;
}

.card .checkNextEvents {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2.5vw;
  background-color: black;
  opacity: 0.2;
}

.card .checkNextEvents:hover {
  opacity: 0.3;
}
