
@import url("color.css");

#mode {
  position: fixed;
  top: 5vh;
  left: 10vw;
  width: 90vw;
  height: 5vh;
  /* background-color: var(--c2); */
  text-align: center;
}

#mode button {
  margin-top: 1.2vh;
}

#content {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 90vw;
  height: 90vh;
  /* background-color: yellow; */
  padding: 25px;
  overflow: scroll;
}

.eventForm {
  float: left;
  margin: 0 5vw 5vh 0;
  max-width: 20vw;
  max-height: 20vh;
}

.event {
  background-color: #fff5e3;
  box-shadow: 1px 1px 1px black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 20vw;
  max-height: 20vh;
  z-index: 1;
}

#addEventForm {
  position: fixed;
  bottom: 5vh;
  left: 16.5vw;
}

.deleteEvent, .updateEvent {
  position: relative;
  top: 0;
  left: 0;
}
