
@import url("color.css");

::-webkit-scrollbar {
    display: none;
}

html, body {
  position: relative;
  height: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  font-family: 'Roboto', sans-serif !important;
  color: var(--c3);
}

h1 {
  color: var(--c3);
  font-size: 30px;
}

h2 {
  color: var(--c3);
  font-size: 20px;
}

.show {
  color: #43dde4;
  z-index: 5;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: black;
}

nav1 {
  background-color: var(--c4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  opacity: 0.5;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.056), 0 6.7px 5.3px rgba(0, 0, 0, 0.081), 0 12.5px 10px rgba(0, 0, 0, 0.1), 0 22.3px 17.9px rgba(0, 0, 0, 0.119), 0 41.8px 33.4px rgba(0, 0, 0, 0.144), 0 100px 80px rgba(0, 0, 0, 0.2);
}

#connexion_creation_buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  text-align: right;
}

#connexion_creation_buttons button {
  margin-top: 1.20vh;
  margin-right: 1.20vh;
}

nav2 {
  background-color: var(--c4);
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  opacity: 0.5;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.056), 0 6.7px 5.3px rgba(0, 0, 0, 0.081), 0 12.5px 10px rgba(0, 0, 0, 0.1), 0 22.3px 17.9px rgba(0, 0, 0, 0.119), 0 41.8px 33.4px rgba(0, 0, 0, 0.144), 0 100px 80px rgba(0, 0, 0, 0.2);
}

#listOfScripts {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 15vw;
  height: 90vh;
  padding: 10px;
  word-wrap: break-word;
}

#newScript {
  display: none;
  margin-top: 5vh;
}

.script {
  margin-top: 5vh;
}

nav3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 5vh;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.056), 0 6.7px 5.3px rgba(0, 0, 0, 0.081), 0 12.5px 10px rgba(0, 0, 0, 0.1), 0 22.3px 17.9px rgba(0, 0, 0, 0.119), 0 41.8px 33.4px rgba(0, 0, 0, 0.144), 0 100px 80px rgba(0, 0, 0, 0.2);
}

#webSiteName {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 5vh;
  text-align: center;
  padding: 1.2vh;
}

content {
  position: absolute;
  top: 5vh;
  left: 15vw;
  width: 85vw;
  height: 95vh;
}

#connexionPage {
  background-color: var(--c4);
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

#connexionForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5vh;
  margin-left: left: 10vw;
  text-align: center;
}
